<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>WMS Sensor Demo</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./css/styles.css">
        <link rel="stylesheet" href="./css/buefy.min.css">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser.
            Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div id="sensor">
            <div class="wms-topbar has-background-primary">
                <h2 class="subtitle has-text-white">Water Management System Sensor Playground</h2>
            </div>

            <div class="wms-sensor-form">
                <b-field label="Tank Number">
                    <b-input type="number" v-model="tank" min="1" max="4">
                </b-field>

                <b-field label="Sensor Number">
                    <b-input type="number" v-model="sensor" min="1" max="2">
                </b-field>

                <b-field label="Sensor Value (in LPM)">
                    <b-input type="number" v-model="sensorValue">
                </b-field>

                <b-field>
                    <b-button @click="updateSensorValue" class="is-primary" :loading.sync="sendingData">
                        Update
                    </b-button>
                </b-field>
            </div>
        </div>
        <script src="./js/vendor/vue.js"></script>
        <script src="./js/vendor/buefy.min.js"></script>
        <script src="./js/sensor.js"></script>
    </body>
</html>
